In [1]:
import pandas as pd
import numpy as np
trade = pd.read_csv('../FinalProject_old/Trade_DetailedTradeMatrix.csv', encoding = "ISO-8859-1")

## for Chord  chart

In [75]:
datelist = [2007,2008,2009,2010,2011,2012,2013,2014,2015,2016]
trade_sub = trade[trade['Year Code'].isin(datelist)]
trade_sub.head(5)

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,9,Argentina,1232,Food prep nes,5610,Import Quantity,2011,2011,tonnes,1.0,NaN
1,2,Afghanistan,9,Argentina,1232,Food prep nes,5622,Import Value,2011,2011,1000 US$,4.0,NaN
2,2,Afghanistan,9,Argentina,1058,"Meat, chicken",5610,Import Quantity,2011,2011,tonnes,198.0,NaN
3,2,Afghanistan,9,Argentina,1058,"Meat, chicken",5622,Import Value,2011,2011,1000 US$,281.0,NaN
4,2,Afghanistan,9,Argentina,30,Rice - total (Rice milled equivalent),5610,Import Quantity,2016,2016,tonnes,0.0,A

In [76]:

for i in range(len(trade_sub)):     
    if (trade_sub.loc[i,'Reporter Countries'] == 'China, mainland'):
        trade_sub.loc[i,'Reporter Countries'] = 'China'
    if (trade_sub.loc[i,'Reporter Countries'] == 'China, Macao SAR'):
        trade_sub.loc[i,'Reporter Countries'] = 'Macao'        
    if (trade_sub.loc[i,'Reporter Countries'] == 'Bolivia (Plurinational State of)'):
        trade_sub.loc[i,'Reporter Countries'] = 'Bolivia'
    if (trade_sub.loc[i,'Reporter Countries'] == 'Iran (Islamic Republic of)'):
        trade_sub.loc[i,'Reporter Countries'] = 'Iran'
    if (trade_sub.loc[i,'Reporter Countries'] == "Lao People's Democratic Republic"):
        trade_sub.loc[i,'Reporter Countries'] = 'Laos'
    if (trade_sub.loc[i,'Reporter Countries'] == 'China, Taiwan Province of'):
        trade_sub.loc[i,'Reporter Countries'] = 'Taiwan'
    if (trade_sub.loc[i,'Reporter Countries'] == 'Czechia'):
        trade_sub.loc[i,'Reporter Countries'] = 'Czech Republic'
    if (trade_sub.loc[i,'Reporter Countries'] == "Côte d'Ivoire"):
        trade_sub.loc[i,'Reporter Countries'] = 'Cote D"Ivoire'
    if (trade_sub.loc[i,'Reporter Countries'] == "Democratic People's Republic of Korea"):
        trade_sub.loc[i,'Reporter Countries'] = 'Korea North'
    if (trade_sub.loc[i,'Reporter Countries'] == 'Republic of Korea'):
        trade_sub.loc[i,'Reporter Countries'] = 'Korea South'
    if (trade_sub.loc[i,'Reporter Countries'] == 'United States of America'):
        trade_sub.loc[i,'Reporter Countries'] = 'United States'
    if (trade_sub.loc[i,'Reporter Countries'] == 'Democratic Republic of the Congo'):
        trade_sub.loc[i,'Reporter Countries'] = 'Congo'
    if (trade_sub.loc[i,'Reporter Countries'] == 'Republic of Moldova'):
        trade_sub.loc[i,'Reporter Countries'] = 'Moldova'
    if (trade_sub.loc[i,'Reporter Countries'] == 'Réunion'):
        trade_sub.loc[i,'Reporter Countries'] = 'Reunion'
    if (trade_sub.loc[i,'Reporter Countries'] == 'United Republic of Tanzania'):
        trade_sub.loc[i,'Reporter Countries'] = 'Tanzania'
    if (trade_sub.loc[i,'Reporter Countries'] == 'Venezuela (Bolivarian Republic of)'):
        trade_sub.loc[i,'Reporter Countries'] = 'Venezuela'

 
for i in range(len(trade_sub)):
    if (trade_sub.loc[i,'Partner Countries'] == 'China, mainland'):
        trade_sub.loc[i,'Partner Countries'] = 'China'
    if (trade_sub.loc[i,'Partner Countries'] == 'China, Macao SAR'):
        trade_sub.loc[i,'Partner Countries'] = 'Macao'        
    if (trade_sub.loc[i,'Partner Countries'] == 'Bolivia (Plurinational State of)'):
        trade_sub.loc[i,'Partner Countries'] = 'Bolivia'
    if (trade_sub.loc[i,'Partner Countries'] == 'Iran (Islamic Republic of)'):
        trade_sub.loc[i,'Partner Countries'] = 'Iran'
    if (trade_sub.loc[i,'Partner Countries'] == "Lao People's Democratic Republic"):
        trade_sub.loc[i,'Partner Countries'] = 'Laos'
    if (trade_sub.loc[i,'Partner Countries'] == 'China, Taiwan Province of'):
        trade_sub.loc[i,'Partner Countries'] = 'Taiwan'
    if (trade_sub.loc[i,'Partner Countries'] == 'Czechia'):
        trade_sub.loc[i,'Partner Countries'] = 'Czech Republic'
    if (trade_sub.loc[i,'Partner Countries'] == "Côte d'Ivoire"):
        trade_sub.loc[i,'Partner Countries'] = 'Cote D"Ivoire'
    if (trade_sub.loc[i,'Partner Countries'] == "Democratic People's Republic of Korea"):
        trade_sub.loc[i,'Partner Countries'] = 'Korea North'
    if (trade_sub.loc[i,'Partner Countries'] == 'Republic of Korea'):
        trade_sub.loc[i,'Partner Countries'] = 'Korea South'
    if (trade_sub.loc[i,'Partner Countries'] == 'United States of America'):
        trade_sub.loc[i,'Partner Countries'] = 'United States'
    if (trade_sub.loc[i,'Partner Countries'] == 'Democratic Republic of the Congo'):
        trade_sub.loc[i,'Partner Countries'] = 'Congo'
    if (trade_sub.loc[i,'Partner Countries'] == 'Republic of Moldova'):
        trade_sub.loc[i,'Partner Countries'] = 'Moldova'
    if (trade_sub.loc[i,'Partner Countries'] == 'Réunion'):
        trade_sub.loc[i,'Partner Countries'] = 'Reunion'
    if (trade_sub.loc[i,'Partner Countries'] == 'United Republic of Tanzania'):
        trade_sub.loc[i,'Partner Countries'] = 'Tanzania'
    if (trade_sub.loc[i,'Partner Countries'] == 'Venezuela (Bolivarian Republic of)'):
        trade_sub.loc[i,'Partner Countries'] = 'Venezuela'

KeyError: 'the label [2838] is not in the [index]'

In [ ]:
trade_sub.head(10)

## for force  chart

In [62]:

trade_group = trade.groupby(['Reporter Countries', 'Partner Countries', 'Element']).agg({'Value':np.sum})

In [66]:
trade_total = trade_group.reset_index()
trade_total.head(5)

  Reporter Countries Partner Countries          Element  Value
0        Afghanistan         Argentina  Import Quantity  514.0
1        Afghanistan         Argentina     Import Value  415.0
2        Afghanistan           Armenia  Import Quantity    8.0
3        Afghanistan           Armenia     Import Value   48.0
4        Afghanistan         Australia  Export Quantity  370.0

In [68]:
for i in range(len(trade_total)):
    if (trade_total.loc[i,'Reporter Countries'] == 'China, mainland'):
        trade_total.loc[i,'Reporter Countries'] = 'China'

In [69]:

#trade_total = trade_total[trade_total['Value']!=0] 

for i in range(len(trade_total)):     
    if (trade_total.loc[i,'Reporter Countries'] == 'China, Macao SAR'):
        trade_total.loc[i,'Reporter Countries'] = 'Macao'        
    if (trade_total.loc[i,'Reporter Countries'] == 'Bolivia (Plurinational State of)'):
        trade_total.loc[i,'Reporter Countries'] = 'Bolivia'
    if (trade_total.loc[i,'Reporter Countries'] == 'Iran (Islamic Republic of)'):
        trade_total.loc[i,'Reporter Countries'] = 'Iran'
    if (trade_total.loc[i,'Reporter Countries'] == "Lao People's Democratic Republic"):
        trade_total.loc[i,'Reporter Countries'] = 'Laos'
    if (trade_total.loc[i,'Reporter Countries'] == 'China, Taiwan Province of'):
        trade_total.loc[i,'Reporter Countries'] = 'Taiwan'
    if (trade_total.loc[i,'Reporter Countries'] == 'Czechia'):
        trade_total.loc[i,'Reporter Countries'] = 'Czech Republic'
    if (trade_total.loc[i,'Reporter Countries'] == "Côte d'Ivoire"):
        trade_total.loc[i,'Reporter Countries'] = 'Cote D"Ivoire'
    if (trade_total.loc[i,'Reporter Countries'] == "Democratic People's Republic of Korea"):
        trade_total.loc[i,'Reporter Countries'] = 'Korea North'
    if (trade_total.loc[i,'Reporter Countries'] == 'Republic of Korea'):
        trade_total.loc[i,'Reporter Countries'] = 'Korea South'
    if (trade_total.loc[i,'Reporter Countries'] == 'United States of America'):
        trade_total.loc[i,'Reporter Countries'] = 'United States'
    if (trade_total.loc[i,'Reporter Countries'] == 'Democratic Republic of the Congo'):
        trade_total.loc[i,'Reporter Countries'] = 'Congo'
    if (trade_total.loc[i,'Reporter Countries'] == 'Republic of Moldova'):
        trade_total.loc[i,'Reporter Countries'] = 'Moldova'
    if (trade_total.loc[i,'Reporter Countries'] == 'Réunion'):
        trade_total.loc[i,'Reporter Countries'] = 'Reunion'
    if (trade_total.loc[i,'Reporter Countries'] == 'United Republic of Tanzania'):
        trade_total.loc[i,'Reporter Countries'] = 'Tanzania'
    if (trade_total.loc[i,'Reporter Countries'] == 'Venezuela (Bolivarian Republic of)'):
        trade_total.loc[i,'Reporter Countries'] = 'Venezuela'

 
for i in range(len(trade_total)):
    if (trade_total.loc[i,'Partner Countries'] == 'China, mainland'):
        trade_total.loc[i,'Partner Countries'] = 'China'
    if (trade_total.loc[i,'Partner Countries'] == 'China, Macao SAR'):
        trade_total.loc[i,'Partner Countries'] = 'Macao'        
    if (trade_total.loc[i,'Partner Countries'] == 'Bolivia (Plurinational State of)'):
        trade_total.loc[i,'Partner Countries'] = 'Bolivia'
    if (trade_total.loc[i,'Partner Countries'] == 'Iran (Islamic Republic of)'):
        trade_total.loc[i,'Partner Countries'] = 'Iran'
    if (trade_total.loc[i,'Partner Countries'] == "Lao People's Democratic Republic"):
        trade_total.loc[i,'Partner Countries'] = 'Laos'
    if (trade_total.loc[i,'Partner Countries'] == 'China, Taiwan Province of'):
        trade_total.loc[i,'Partner Countries'] = 'Taiwan'
    if (trade_total.loc[i,'Partner Countries'] == 'Czechia'):
        trade_total.loc[i,'Partner Countries'] = 'Czech Republic'
    if (trade_total.loc[i,'Partner Countries'] == "Côte d'Ivoire"):
        trade_total.loc[i,'Partner Countries'] = 'Cote D"Ivoire'
    if (trade_total.loc[i,'Partner Countries'] == "Democratic People's Republic of Korea"):
        trade_total.loc[i,'Partner Countries'] = 'Korea North'
    if (trade_total.loc[i,'Partner Countries'] == 'Republic of Korea'):
        trade_total.loc[i,'Partner Countries'] = 'Korea South'
    if (trade_total.loc[i,'Partner Countries'] == 'United States of America'):
        trade_total.loc[i,'Partner Countries'] = 'United States'
    if (trade_total.loc[i,'Partner Countries'] == 'Democratic Republic of the Congo'):
        trade_total.loc[i,'Partner Countries'] = 'Congo'
    if (trade_total.loc[i,'Partner Countries'] == 'Republic of Moldova'):
        trade_total.loc[i,'Partner Countries'] = 'Moldova'
    if (trade_total.loc[i,'Partner Countries'] == 'Réunion'):
        trade_total.loc[i,'Partner Countries'] = 'Reunion'
    if (trade_total.loc[i,'Partner Countries'] == 'United Republic of Tanzania'):
        trade_total.loc[i,'Partner Countries'] = 'Tanzania'
    if (trade_total.loc[i,'Partner Countries'] == 'Venezuela (Bolivarian Republic of)'):
        trade_total.loc[i,'Partner Countries'] = 'Venezuela'

 
trade_total_out = trade_total[(trade_total['Reporter Countries'].isin(comb_pop_region_out['Reporter Countries'])) & (trade_total['Partner Countries'].isin(comb_pop_region_out['Reporter Countries']))] 
 
trade_import = trade_total_out[(trade_total['Element'] =='Import Value')  ]
trade_export = trade_total_out[(trade_total['Element'] =='Export Value')  ]

/home/qianzhang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:74: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/home/qianzhang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:75: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [70]:
trade_import.head(5)
print(len(trade_import))

7599

In [71]:
### for directed force graph 
trade_export.columns=['source','target','Element','value']
trade_import.columns=['target','source','Element','value']
export_out = trade_export[['source','target','value']]
import_out = trade_import[['source','target','value']]
print(len(import_out))
import_out = import_out.append(export_out, ignore_index=True)
print(len(import_out))

7599
14892

In [72]:
import_out_group = import_out.sort_values(by=['source','value'], ascending=False).groupby('source').head(1)
import_out_group.head(5)

               source        target        value
14879          Zambia  South Africa    1490770.0
14758       Venezuela      Colombia    1996664.0
1006          Uruguay        Brazil   13965868.0
3671    United States         Japan  407747907.0
14437  United Kingdom       Ireland   87423639.0

In [73]:
import_out_group.to_csv('countryrelation_top1.csv',index=False)

##  ##Contry's import export relationship

In [25]:
 
region = pd.read_csv('../FinalProject_old/countries.csv', encoding = "ISO-8859-1") 
region.head(5)
region_sub = region[['CountryName', 'ContinentCode']]

import_out_region = pd.merge(import_out, region_sub, how='inner', left_on=['source'], right_on=['CountryName'])
import_out_region.head(5)

  source               target     value CountryName ContinentCode
0  India          Afghanistan     418.0       India            AS
1  India              Albania    6201.0       India            AS
2  India              Algeria  218884.0       India            AS
3  India  Antigua and Barbuda      18.0       India            AS
4  India            Argentina   17986.0       India            AS

In [26]:
import_out_region1 = import_out_region[['source','target','value','ContinentCode']]
import_out_region1.columns=['source','target','value','sourcecont']
import_out_region2 = pd.merge(import_out_region1, region_sub, how='inner', left_on=['target'], right_on=['CountryName'])
import_out_region2.head(5)

       source       target     value sourcecont  CountryName ContinentCode
0       India  Afghanistan     418.0         AS  Afghanistan            AS
1       India  Afghanistan   63094.0         AS  Afghanistan            AS
2  Kazakhstan  Afghanistan      64.0         AS  Afghanistan            AS
3  Kazakhstan  Afghanistan  408308.0         AS  Afghanistan            AS
4  Kyrgyzstan  Afghanistan       2.0         AS  Afghanistan            AS

In [31]:
import_out_region3 = import_out_region2[['source','target','value','sourcecont','ContinentCode']]
import_out_region3.columns=['source','target','value','sourcecont','targetcont']
AS = import_out_region3[(import_out_region3['sourcecont']=='AS')]
AF = import_out_region3[(import_out_region3['sourcecont']=='AF')]
EU = import_out_region3[(import_out_region3['sourcecont']=='EU') ]
NA = import_out_region3[(import_out_region3['sourcecont']=='NA') ]
SA = import_out_region3[(import_out_region3['sourcecont']=='SA') ]
OC = import_out_region3[(import_out_region3['sourcecont']=='OC') ]
AF.head(5)
OC.head(5)

          source       target   value sourcecont targetcont
43     Australia  Afghanistan   659.0         OC         AS
48   New Zealand  Afghanistan   406.0         OC         AS
159    Australia      Albania  1057.0         OC         EU
164  New Zealand      Albania   125.0         OC         EU
269    Australia      Algeria  6270.0         OC         AF

In [32]:
AS.to_csv('countryrelation_AS.csv',index=False)
AF.to_csv('countryrelation_AF.csv',index=False)
NA.to_csv('countryrelation_NA.csv',index=False)
SA.to_csv('countryrelation_SA.csv',index=False)
EU.to_csv('countryrelation_EU.csv',index=False)
OC.to_csv('countryrelation_OC.csv',index=False)

In [34]:
china = import_out[(import_out['source']=='China, mainland') | (import_out['target']=='China, mainland')]
china.to_csv('countryrelation_china.csv',index=False)
#trade_import.to_csv('trade_import.csv')
#trade_export.to_csv('trade_export.csv')

In [36]:
#trade_import = pd.read_csv('trade_import.csv')
#trade_import.head(5)

,Unnamed: 0,Reporter Countries,Partner Countries,Element,Year Code,Value
0,197,Afghanistan,India,Import Quantity,2016,579.0
1,280,Afghanistan,Kazakhstan,Import Quantity,2016,399.0
2,298,Afghanistan,Kyrgyzstan,Import Quantity,2016,2.0
3,333,Afghanistan,Netherlands,Import Quantity,2016,12.0
4,361,Afghanistan,Pakistan,Import Quantity,2016,326690.0

In [40]:
trade_import_sub = trade_import[['Reporter Countries','Partner Countries','Value']]
trade_export_sub = trade_export[['Reporter Countries','Partner Countries','Value']]

In [41]:
#### for both name and value only 
def mydic(df, w, q):
    namelist = []
    df = df.reset_index()
     
    for i in range(len(df)):
        namedic = dict([('name',df.loc[i,'Partner Countries']), ('value',df.loc[i,'Value'])])
        namelist.append(namedic)
    return namelist
   
trade_import_val = trade_import_sub.groupby('Reporter Countries').apply(mydic, 'Partner Countries','Value')

trade_import_val = trade_import_val.reset_index()
trade_import_val.columns=['name','children']
trade_import_val.head(5)

trade_export_val = trade_export_sub.groupby('Reporter Countries').apply(mydic, 'Partner Countries','Value')
trade_export_val = trade_export_val.reset_index()
trade_export_val.columns=['name','children']
trade_export_val.head(5)

mylist=[]
for i in range(len(trade_import_val)):
    mylist.append({'name': trade_import_val.loc[i,'name'], 'children': trade_import_val.loc[i,'children']})
import json
with open('trade_imports_2011.json', 'w', encoding='utf-8') as fout:
    json.dump(mylist , fout, ensure_ascii=False, indent=4)
    
mylist_ex=[]
for i in range(len(trade_export_val)):
    mylist_ex.append({'name': trade_export_val.loc[i,'name'], 'children': trade_export_val.loc[i,'children']})
import json
with open('trade_exports_2016.json', 'w', encoding='utf-8') as fout_ex:
    #json.dump(mylist_ex , fout_ex, ensure_ascii=False, indent=4)
    json.dump(mylist_ex , fout_ex, ensure_ascii=False)

## for bubble chart

In [6]:

trade_group = trade.groupby(['Reporter Countries', 'Element','Year Code']).agg({'Value':np.sum})
trade_total = trade_group.reset_index()
trade_import = trade_total[(trade_total['Element'] =='Import Value')]
trade_export = trade_total[(trade_total['Element'] =='Export Value')]

In [7]:
datelist = [2007,2008,2009,2010,2011,2012,2013,2014,2015,2016]
date_seq = pd.DataFrame(datelist, columns=['Year Code'])
trade_import_group = trade_import[['Reporter Countries','Year Code','Value']].groupby(['Reporter Countries'])
data_comb = pd.DataFrame()
for name, group in trade_import_group:
    date_seq['Reporter Countries']  = name
    date_seq['Value'] = 0
    temp = pd.DataFrame()
    temp = temp.append(group)
    temp = temp.append(date_seq)
     
    temp.drop_duplicates(subset = 'Year Code', keep='first', inplace=True)
    temp = temp.sort_values(by='Year Code', ascending=False)
    temp = temp.head(10)
    temp =  temp.sort_values(by='Year Code') 
    temp["Year Code"]= temp["Year Code"].astype(str)
     
    temp["Value"]= temp["Value"]
    
    data_comb = data_comb.append(temp)
data_comb.head(10)

/home/qianzhang/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

   Reporter Countries     Value Year Code
0         Afghanistan       0.0      2007
1         Afghanistan       0.0      2008
18        Afghanistan  624317.0      2009
19        Afghanistan  681095.0      2010
20        Afghanistan  846878.0      2011
5         Afghanistan       0.0      2012
6         Afghanistan       0.0      2013
21        Afghanistan  100948.0      2014
22        Afghanistan  156757.0      2015
23        Afghanistan  134452.0      2016

In [8]:

trade_export_group = trade_export[['Reporter Countries','Year Code','Value']].groupby(['Reporter Countries'])

 
data_comb_ex = pd.DataFrame()
for name, group in trade_export_group:
    date_seq['Reporter Countries']  = name
    date_seq['Value'] = int(0)
    temp = pd.DataFrame()
    temp = temp.append(group)
    temp = temp.append(date_seq)
     
    temp.drop_duplicates(subset = 'Year Code', keep='first', inplace=True)
    temp = temp.sort_values(by='Year Code', ascending=False)
    temp = temp.head(10)
    temp = temp.sort_values(by='Year Code')
    temp["Year Code"]= temp["Year Code"].astype(str)
    temp["Value"]= temp["Value"] 
    #temp = temp.astype({'Year Code': 'string'})
    data_comb_ex = data_comb_ex.append(temp)
data_comb_ex.head(10)

   Reporter Countries     Value Year Code
0         Afghanistan       0.0      2007
1         Afghanistan       0.0      2008
6         Afghanistan  282049.0      2009
7         Afghanistan  268673.0      2010
8         Afghanistan  235164.0      2011
5         Afghanistan       0.0      2012
6         Afghanistan       0.0      2013
9         Afghanistan       0.0      2014
10        Afghanistan      21.0      2015
11        Afghanistan      54.0      2016

In [9]:
data_comb.columns=['Reporter Countries','importvalue', 'Year Code'] 
data_comb_ex.columns=['Reporter Countries','exportvalue', 'Year Code'] 
comb = pd.merge(data_comb, data_comb_ex, how='inner', left_on=['Reporter Countries', 'Year Code'], right_on=['Reporter Countries', 'Year Code'])
comb.head(10)

  Reporter Countries  importvalue Year Code  exportvalue
0        Afghanistan          0.0      2007          0.0
1        Afghanistan          0.0      2008          0.0
2        Afghanistan     624317.0      2009     282049.0
3        Afghanistan     681095.0      2010     268673.0
4        Afghanistan     846878.0      2011     235164.0
5        Afghanistan          0.0      2012          0.0
6        Afghanistan          0.0      2013          0.0
7        Afghanistan     100948.0      2014          0.0
8        Afghanistan     156757.0      2015         21.0
9        Afghanistan     134452.0      2016         54.0

In [11]:
pop = pd.read_csv('data/Population.csv', encoding = "ISO-8859-1")
pop_sub = pop[pop['Element']=='Total Population - Both sexes']
pop_sub=pop_sub[['Area','Year Code','Value']]

pop_sub.columns =['Reporter Countries','Year Code', 'population']
pop_sub["Year Code"]= pop_sub["Year Code"].astype(str)
pop_sub["population"] = (pop_sub["population"]*1000).astype(int)

region = pd.read_csv('../FinalProject_old/countries.csv', encoding = "ISO-8859-1") 
region.head(5)
region_sub = region[['CountryName', 'CountryCode']]


comb_pop = pd.merge(comb, pop_sub, how = 'left', left_on=['Reporter Countries', 'Year Code'], right_on=['Reporter Countries', 'Year Code'])

,Reporter Countries,importvalue,Year Code,exportvalue,population,CountryName,CountryCode
0,Afghanistan,0.0,2007,0.0,26616792.0,Afghanistan,AF
1,Afghanistan,0.0,2008,0.0,27294031.0,Afghanistan,AF
2,Afghanistan,624317.0,2009,282049.0,28004331.0,Afghanistan,AF
3,Afghanistan,681095.0,2010,268673.0,28803167.0,Afghanistan,AF
4,Afghanistan,846878.0,2011,235164.0,29708599.0,Afghanistan,AF

In [38]:
for i in range(len(comb_pop)):
    if (comb_pop.loc[i,'Reporter Countries'] == 'China, mainland'):
        comb_pop.loc[i,'Reporter Countries'] = 'China'
    if (comb_pop.loc[i,'Reporter Countries'] == 'China, Macao SAR'):
        comb_pop.loc[i,'Reporter Countries'] = 'Macao'        
    if (comb_pop.loc[i,'Reporter Countries'] == 'Bolivia (Plurinational State of)'):
        comb_pop.loc[i,'Reporter Countries'] = 'Bolivia'
    if (comb_pop.loc[i,'Reporter Countries'] == 'Iran (Islamic Republic of)'):
        comb_pop.loc[i,'Reporter Countries'] = 'Iran'
    if (comb_pop.loc[i,'Reporter Countries'] == "Lao People's Democratic Republic"):
        comb_pop.loc[i,'Reporter Countries'] = 'Laos'
    if (comb_pop.loc[i,'Reporter Countries'] == 'China, Taiwan Province of'):
        comb_pop.loc[i,'Reporter Countries'] = 'Taiwan'
    if (comb_pop.loc[i,'Reporter Countries'] == 'Czechia'):
        comb_pop.loc[i,'Reporter Countries'] = 'Czech Republic'
    if (comb_pop.loc[i,'Reporter Countries'] == "Côte d'Ivoire"):
        comb_pop.loc[i,'Reporter Countries'] = 'Cote D"Ivoire'
    if (comb_pop.loc[i,'Reporter Countries'] == "Democratic People's Republic of Korea"):
        comb_pop.loc[i,'Reporter Countries'] = 'Korea North'
    if (comb_pop.loc[i,'Reporter Countries'] == 'Republic of Korea'):
        comb_pop.loc[i,'Reporter Countries'] = 'Korea South'
    if (comb_pop.loc[i,'Reporter Countries'] == 'United States of America'):
        comb_pop.loc[i,'Reporter Countries'] = 'United States'
    if (comb_pop.loc[i,'Reporter Countries'] == 'Democratic Republic of the Congo'):
        comb_pop.loc[i,'Reporter Countries'] = 'Congo'
    if (comb_pop.loc[i,'Reporter Countries'] == 'Republic of Moldova'):
        comb_pop.loc[i,'Reporter Countries'] = 'Moldova'
    if (comb_pop.loc[i,'Reporter Countries'] == 'Réunion'):
        comb_pop.loc[i,'Reporter Countries'] = 'Reunion'
    if (comb_pop.loc[i,'Reporter Countries'] == 'United Republic of Tanzania'):
        comb_pop.loc[i,'Reporter Countries'] = 'Tanzania'
    if (comb_pop.loc[i,'Reporter Countries'] == 'Venezuela (Bolivarian Republic of)'):
        comb_pop.loc[i,'Reporter Countries'] = 'Venezuela'


        
for i in range(len(region_sub)):
    if (region_sub.loc[i,'CountryName']) == 'Korea (North)':
        region_sub.loc[i,'CountryName'] = 'Korea North'
    if (region_sub.loc[i,'CountryName']) == 'Korea (South)':
        region_sub.loc[i,'CountryName'] = 'Korea South'
    if (region_sub.loc[i,'CountryName']) == 'Cape Verde':
        region_sub.loc[i,'CountryName'] = 'Cabo Verde'
    if (region_sub.loc[i,'CountryName']) == 'Congo, Democratic Republic':
        region_sub.loc[i,'CountryName'] = 'Congo'
comb_pop_region = pd.merge(comb_pop, region_sub, how='left', left_on=['Reporter Countries'], right_on=['CountryName'])

comb_pop_region = comb_pop_region.dropna()

/home/qianzhang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/qianzhang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
#test = comb_pop_region[(comb_pop_region.isnull().any(axis=1))] 
test = comb_pop_region[(comb_pop_region['importvalue']==0) | (comb_pop_region['exportvalue']==0)] 
test.drop_duplicates(subset = ['Reporter Countries','CountryName'], keep='first', inplace=True)
test.head(100)
comb_pop_region_out = comb_pop_region[~(comb_pop_region['Reporter Countries'].isin(test['Reporter Countries'].tolist()))]
comb_pop_region_out.head(100)

/home/qianzhang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Reporter Countries,importvalue,Year Code,exportvalue,population,CountryName,CountryCode
10,Albania,648621.0,2007,60576.0,3023907.0,Albania,AL
11,Albania,842611.0,2008,63305.0,2991651.0,Albania,AL
12,Albania,751877.0,2009,51727.0,2962635.0,Albania,AL
13,Albania,802075.0,2010,57233.0,2940525.0,Albania,AL
14,Albania,867318.0,2011,81902.0,2926659.0,Albania,AL
15,Albania,825588.0,2012,90192.0,2920039.0,Albania,AL
16,Albania,838527.0,2013,107053.0,2918978.0,Albania,AL
17,Albania,524653.0,2014,67831.0,2920775.0,Albania,AL
18,Albania,590946.0,2015,103820.0,2923352.0,Albania,AL
19,Albania,618612.0,2016,137662.0,2926348.0,Albania,AL
40,Argentina,1777207.0,2007,26831678.0,39970224.0,Argentina,AR
41,Argentina,2773648.0,2008,35105352.0,40382389.0,Argentina,AR
42,Argentina,1545471.0,2009,26355396.0,40799407.0,Argentina,AR
43,Argentina,1612827.0,2010,32389215.0,41223889.0,Argentina,AR
44,Argentina,1937287.0,2011,42613848.0,41656879.0,Argentina,AR
45,Argentina,1841705.0,2012,40058476.0,42096739.0,Argentina,AR
46,Argentina,1798215.0,2013,39570397.0,42539925.0,Argentina,AR
47,Argentina,1668157.0,2014,35353079.0,42981515.0,Argentina,AR
48,Argentina,1640263.0,2015,32303970.0,43417765.0,Argentina,AR
49,Argentina,2041550.0,2016,34302302.0,43847430.0,Argentina,AR
50,Armenia,519391.0,2007,165403.0,2933056.0,Armenia,AM
51,Armenia,717971.0,2008,199010.0,2908220.0,Armenia,AM
52,Armenia,586730.0,2009,123383.0,2888584.0,Armenia,AM
53,Armenia,649108.0,2010,148940.0,2877311.0,Armenia,AM
54,Armenia,756618.0,2011,206999.0,2875581.0,Armenia,AM
55,Armenia,790186.0,2012,292667.0,2881922.0,Armenia,AM
56,Armenia,825180.0,2013,356858.0,2893509.0,Armenia,AM
57,Armenia,783469.0,2014,380805.0,2906220.0,Armenia,AM
58,Armenia,643516.0,2015,373462.0,2916950.0,Armenia,AM
59,Armenia,458607.0,2016,414843.0,2924816.0,Armenia,AM
...,...,...,...,...,...,...,...
150,Belgium,30683032.0,2007,34271745.0,10697835.0,Belgium,BE
151,Belgium,36832397.0,2008,40204370.0,10779173.0,Belgium,BE
152,Belgium,31910345.0,2009,35506126.0,10860290.0,Belgium,BE
153,Belgium,31825344.0,2010,36203880.0,10938739.0,Belgium,BE
154,Belgium,38568697.0,2011,42317975.0,11013083.0,Belgium,BE
155,Belgium,36667904.0,2012,41177531.0,11083550.0,Belgium,BE
156,Belgium,38452734.0,2013,43429085.0,11151512.0,Belgium,BE
157,Belgium,39594424.0,2014,44168980.0,11219161.0,Belgium,BE
158,Belgium,33550502.0,2015,38661241.0,11287940.0,Belgium,BE
159,Belgium,34420377.0,2016,39837762.0,11358379.0,Belgium,BE
210,Bolivia,373218.0,2007,688382.0,9441444.0,Bolivia,BO
211,Bolivia,468241.0,2008,916963.0,9599855.0,Bolivia,BO
212,Bolivia,395417.0,2009,966370.0,9758748.0,Bolivia,BO
213,Bolivia,392676.0,2010,939800.0,9918242.0,Bolivia,BO
214,Bolivia,625510.0,2011,1151207.0,10078343.0,Bolivia,BO
215,Bolivia,616821.0,2012,1457471.0,10239004.0,Bolivia,BO
216,Bolivia,683678.0,2013,1775954.0,10400264.0,Bolivia,BO
217,Bolivia,792670.0,2014,1604606.0,10562159.0,Bolivia,BO
218,Bolivia,661852.0,2015,1294615.0,10724705.0,Bolivia,BO
219,Bolivia,22089.0,2016,133.0,10887882.0,Bolivia,BO
220,Bosnia and Herzegovina,1543019.0,2007,257536.0,3774000.0,Bosnia and Herzegovina,BA
221,Bosnia and Herzegovina,1928236.0,2008,327662.0,3763599.0,Bosnia and Herzegovina,BA
222,Bosnia and Herzegovina,1657194.0,2009,315703.0,3746561.0,Bosnia and Herzegovina,BA
223,Bosnia and Herzegovina,1691600.0,2010,392814.0,3722084.0,Bosnia and Herzegovina,BA
224,Bosnia and Herzegovina,1972207.0,2011,453762.0,3688865.0,Bosnia and Herzegovina,BA
225,Bosnia and Herzegovina,1859613.0,2012,441323.0,3648200.0,Bosnia and Herzegovina,BA
226,Bosnia and Herzegovina,1866316.0,2013,486002.0,3604999.0,Bosnia and Herzegovina,BA
227,Bosnia and Herzegovina,1869056.0,2014,460805.0,3566002.0,Bosnia and Herzegovina,BA
228,Bosnia and Herzegovina,1623464.0,2015,473585.0,3535961.0,Bosnia and Herzegovina,BA
229,Bosnia and Herzegovina,1641049.0,2016,532027.0,3516816.0,Bosnia and Herzegovina,BA

In [53]:
#### for both name and value only bubble chart
 
def mydic(df, w, q, p, x):
    namelist = []
    exlist = []
    poplist = []
    df = df.reset_index()
     
    for i in range(len(df)):
        namedic1 = [df.loc[i,'Year Code'], df.loc[i,'importvalue']]
        namedic2 = [df.loc[i,'Year Code'], df.loc[i,'exportvalue']]
        namedic3 = [df.loc[i,'Year Code'], df.loc[i,'population']]
        namelist.append(namedic1)
        exlist.append(namedic2)
        poplist.append(namedic3)
    return namelist, exlist, poplist

 
trade_export_val = comb_pop_region_out.groupby(['Reporter Countries','CountryCode']).apply(mydic, 'Year Code','importvalue', 'exportvalue','population')
trade_export_val = trade_export_val.reset_index()
trade_export_val.columns=['name','CountryCode','value']
trade_export_val.head(5)

mylist_ex=[]
for i in range(len(trade_export_val)):
    mylist_ex.append({'name': trade_export_val.loc[i,'name'], 'CountryCode': trade_export_val.loc[i,'CountryCode'], 'importvalue': trade_export_val.loc[i,'value'][0],
                     'exportvalue': trade_export_val.loc[i,'value'][1], 'population': trade_export_val.loc[i,'value'][2]})
import json

with open('data/trade_exports_value.json', 'w') as outfile:
    outfile.write('[')
    for entry in mylist_ex:
        json.dump(entry, outfile)
        outfile.write(',')
        outfile.write('\n')
    outfile.write(']')
        
#with open('trade_exports_value.json', 'w', encoding='utf-8') as fout_ex:
    #json.dump(mylist_ex , fout_ex, ensure_ascii=False, indent=4)
#    json.dump(mylist_ex , fout_ex, ensure_ascii=False)

In [89]:
trade_import_val = data_comb.groupby('Reporter Countries').apply(mydic, 'Year Code','Value')
trade_import_val.head(5)
trade_import_val = trade_import_val.reset_index()
trade_import_val.columns=['name','value']
 
trade_import_val.head(5)

mylist=[]
 
for i in range(len(trade_import_val)):
    
    mylist.append({"name": trade_import_val.loc[i,'name'], "value": trade_import_val.loc[i,'value']})
     

print(mylist[2])
import json
with open('trade_imports_value.json', 'w', encoding='utf-8') as fout:
    json.dump(mylist , fout, ensure_ascii=False)

{'name': 'Algeria', 'value': [['2007', 5364383.0], ['2008', 8268951.0], ['2009', 6270834.0], ['2010', 0.0], ['2011', 10462910.0], ['2012', 9739826.0], ['2013', 10160930.0], ['2014', 11386383.0], ['2015', 9694067.0], ['2016', 8649392.0]]}

In [16]:
###### for country name only 
def mydic(mylist):
    namelist = []
    for i in mylist:
        namedic = dict([('name', i)])
        namelist.append(namedic)
     
    return namelist
trade_import_dic = trade_import.groupby('Reporter Countries')['Partner Countries'].apply(mydic)
trade_import_dic.head(5)
trade_import_dic = trade_import_dic.reset_index()
trade_import_dic.columns=['name','children']
#### for value only
def mydic(mylist):
    namelist = []
    for i in mylist:
        namedic = dict([('value', i)])
        namelist.append(namedic)
     
    return namelist
trade_import_val = trade_import.groupby('Reporter Countries')['Value'].apply(mydic)
trade_import_val.head(5)